{% comment %}
------------------------------------------------------------------------------
  Section: Password layout only for meermin-seconds.myshopify.com
  - Including Desktop / Mobile Layout
  - Is available to customize by Theme Settings -> Password Page
------------------------------------------------------------------------------
{% endcomment %}

{% assign desktop_image_size = section.settings.password_background_image_desktop.width | append: 'x' %}
{% assign mobile_image_size = section.settings.password_background_image_mobile.width | append: 'x' %}

<div
  id="passwordForSeconds"
  class="password-for-seconds password-for-seconds--{{section.settings.password_page_text_color}}"
  data-section-id="{{ section.id }}"
  data-section-type="password-for-seconds"
  data-mobile-background="url({{ section.settings.password_background_image_mobile | img_url: mobile_image_size | prepend: 'https:' }})"
  data-desktop-background="url({{ section.settings.password_background_image_desktop | img_url: desktop_image_size | prepend: 'https:' }})"
  js-password="container"
  style="background-image: url({{ section.settings.password_background_image_desktop | img_url: desktop_image_size | prepend: 'https:' }})"
>
  <div class="container password-for-seconds__container">
    <h1 class="password-for-seconds__logo">
      {% render 'site-logo', store_name: shop.name, color: section.settings.password_page_logo_color %}
    </h1>

    <div class="password-for-seconds__landing is-active" js-password="landing">
      <h5>
        {{ 'password_page.sale_ended' | t }}
      </h5>

      <h2>
        {{ 'password_page.opening_soon' | t }}
      </h2>
      
      <p>
        {{ 'password_page.description' | t }}
      </p>
      
      <h4>
        {{ section.settings.email_signup_title}}
      </h4>
      
      {% if shop.password_message != blank %}
        <p>
          {{ shop.password_message }}
        </p>
      {% endif %}

      {% form 'customer', id: 'NewsletterCallout' %}
        {{ form.errors | default_errors }}

        {% if form.posted_successfully? %}
          <p>{{ 'general.newsletter_form.confirmation' | t }}</p>
        {% else %}

          <div class="signup__input-group input-group">
            <input type="hidden" name="contact[tags]" value="newsletter">

            <div class="signup-container input-group">
              <div class="input-group__control">
                <input
                  id="signupEmail"
                  class="{% if form.errors contains 'email' %}input-error{% endif %}"
                  autocapitalize="off"
                  autocomplete="off"
                  autofocus
                  name="contact[email]"
                  placeholder="{{ 'password_page.login_form.signup_placeholder' | t }}"
                  required
                  spellcheck="false"
                  type="email"
                >
              </div>
              <div class="signup-container__addon">
                <button class="subscribe__submit">
                  <img src="{{ 'cta_arrow.svg' | asset_url }}" />
                </button>
              </div>
            </div>
          </div>
        {% endif %}
      {% endform %}

      <div class="or-splitter">
        <div class="line line--{{ section.settings.password_page_text_color }}"></div>
        <span>OR</span>
        <div class="line line--{{ section.settings.password_page_text_color }}"></div>
      </div>

      <div class="link-group">
        <a 
          class="
            button 
            button--left 
            button--{{ section.settings.visit_store_button_style }}
          "
          href="https://eu.meermin.com/"
          target="_blank">
          {{ 'password_page.main_store_link' | t }}
        </a>
        <a
          class="button button--{{ section.settings.password_button_style }}"
          js-password="loginFormToggle"
        >
          {{ 'password_page.password_link' | t }}
        </a>
      </div>
    </div>

    <div id="loginForm" class="password-for-seconds__form" js-password="form">
      <div class="form-group">
        {% form 'storefront_password' %}
          {{ form.errors | default_errors }}

          <label 
            class="
              password-label 
              password-label--{{ section.settings.password_page_text_color }}
            "
            for="password"
          >
            {{ 'password_page.login_form.password_label' | t }}
          </label>

          <div class="input-group__control">
            <input
              id="Password"
              name="password"
              placeholder="{{ 'password_page.login_form.password_placeholder' | t }}"
              type="password"
              data-cy="password"
            >
          </div>

          <div class="input-group__addon">
            <button
              class="button button-upper button--{{ section.settings.submit_password_button_style }}"
              name="commit"
              type="submit"
              data-cy="submit"
            >
              <span>{{ 'password_page.login_form.submit' | t }}</span>
            </button>

            <a 
              class="
                password-back 
                password-back--{{ section.settings.password_page_text_color }}
              "
              js-password="backToLanding"
            >
              {{ 'password_page.login_form.back' | t }}
            </a>
          </div>
        {% endform %}
      </div>
    </div>

    <div class="password-footer">
      <ul class="password-footer__social">
        {% if settings.share_facebook %}
          <li>
            <a
              class="password-footer-link--{{ section.settings.password_page_text_color }}"
              href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}"
              target="_blank"
            >
              Facebook
            </a>
          </li>
        {% endif %}
        {% if settings.social_instagram_link != blank %}
          <li>
            <a
              class="password-footer-link--{{ section.settings.password_page_text_color }}"
              href="{{ section.settings.social_instagram_link | json }}"
              target="_blank"
            >
              Instagram
            </a>
          </li>
        {% endif %}
        {% if settings.share_pinterest %}
          <li>
            <a
              class="password-footer-link--{{ section.settings.password_page_text_color }}"
              href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}"
              target="_blank"
            >
              Pinterest
            </a>
          </li>
        {% endif %}
        {% if settings.share_twitter %}
          <li>
            <a
              class="password-footer-link--{{ section.settings.password_page_text_color }}"
              href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}"
              target="_blank"
            >
              Twitter
            </a>
          </li>
        {% endif %}
      </ul>

      <p>
        Copyright &copy; 2020 &#174; Mallorca Shoes. <span class="trademark">{{ 'general.meta.rights_reserved' | t }}</span>
      </p>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Password Page",
    "settings": [
      {
        "type": "header",
        "content": "Password Page customization"
      },
      {
        "type": "select",
        "id": "password_page_text_color",
        "label": "Select a color for password page",
        "options": [
          {
            "value": "black",
            "label": "Black"
          },
          {
            "value": "white",
            "label": "White"
          }
        ],
        "default": "white"
      },
      {
        "type": "select",
        "id": "password_page_logo_color",
        "label": "Select a color for password logo",
        "options": [
          {
            "value": "black",
            "label": "Black"
          },
          {
            "value": "white",
            "label": "White"
          }
        ],
        "default": "white"
      },
      {
        "type": "select",
        "id": "visit_store_button_style",
        "label": "Select a button style for Visit store link",
        "options": [
          {
            "value": "dark",
            "label": "Primary"
          },
          {
            "value": "light",
            "label": "Secondary"
          }
        ],
        "default": "dark"
      },
      {
        "type": "select",
        "id": "password_button_style",
        "label": "Select a button style for password link",
        "options": [
          {
            "value": "dark",
            "label": "Primary"
          },
          {
            "value": "light",
            "label": "Secondary"
          }
        ],
        "default": "light"
      },
      {
        "type": "select",
        "id": "submit_password_button_style",
        "label": "Select a button style to submit password",
        "options": [
          {
            "value": "dark",
            "label": "Primary"
          },
          {
            "value": "light",
            "label": "Secondary"
          }
        ],
        "default": "dark"
      },
      {
        "type": "image_picker",
        "id": "password_background_image_desktop",
        "label": "Set a background image of password page for desktop",
        "info": "Recommended upload size at 1440 x 900px."
      },
      {
        "type": "image_picker",
        "id": "password_background_image_mobile",
        "label": "Set a background image of password page for mobile",
        "info": "Recommended upload size at 360 x 640px."
      },
      {
        "type": "text",
        "id": "email_signup_title",
        "label": "Set a title for email sign up",
        "default": "Join Our Newsletter For Updates"
      }
    ]
  }
{% endschema %}