{% comment %}
------------------------------------------------------------------------------
  Snippet: Icons - misc
  - General purpose icons to provide additional visuals on top of labels.
------------------------------------------------------------------------------
{% endcomment %}
{% case icon %}
  {% when 'account' %}
    <svg class="icon icon__account" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12 12C14.2091 12 16 10.2091 16 8C16 5.79086 14.2091 4 12 4C9.79086 4 8 5.79086 8 8C8 10.2091 9.79086 12 12 12ZM12 13C14.7614 13 17 10.7614 17 8C17 5.23858 14.7614 3 12 3C9.23858 3 7 5.23858 7 8C7 10.7614 9.23858 13 12 13Z"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.55177 16.1671C7.3314 15.0796 9.67538 14.5 12 14.5V15.5C9.82462 15.5 7.6686 16.0454 6.07323 17.0204C4.48083 17.9935 3.5 19.3539 3.5 21H2.5C2.5 18.8961 3.76917 17.2565 5.55177 16.1671Z"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M18.4482 16.1671C16.6686 15.0796 14.3246 14.5 12 14.5V15.5C14.1754 15.5 16.3314 16.0454 17.9268 17.0204C19.5192 17.9935 20.5 19.3539 20.5 21H21.5C21.5 18.8961 20.2308 17.2565 18.4482 16.1671Z"/>
    </svg>

  {% when 'funding' %}
    <svg class="icon icon__funding" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle class="icon__funding-pulse" opacity="0.2" cx="11" cy="11" r="11" fill="#7F551C"/>
      <circle cx="11" cy="11" r="5.07692" fill="#7F551C"/>
    </svg>

  {% when 'expired' %}
    <svg class="icon icon__expired" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="11" cy="11" r="10.5" fill="#890000" stroke="#890000"/>
      <path d="M9.20656 13.4929L6.71363 11L5.86472 11.8429L9.20656 15.1848L16.3805 8.01086L15.5375 7.16792L9.20656 13.4929Z" fill="#F4F1E8"/>
    </svg>


  {% when 'back' %}
    <svg class="icon icon__back" width="23" height="14" viewBox="0 0 23 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M23 7L0.999999 7M0.999999 7L7.11111 13M0.999999 7L7.11111 1" stroke="#7F551C"/>
    </svg>

  {% when 'bag' %}
    <svg class="icon icon__bag" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <circle cx="12" cy="12" r="10"/>
      <path d="M12.0027 16.12C9.81067 16.12 8.71467 14.76 8.71467 12.04C8.71467 9.32 9.81067 7.96 12.0027 7.96C14.1947 7.96 15.2907 9.32 15.2907 12.04C15.2907 14.76 14.1947 16.12 12.0027 16.12ZM12.0027 14.512C12.4427 14.512 12.7587 14.32 12.9507 13.936C13.1507 13.552 13.2507 12.92 13.2507 12.04C13.2507 11.16 13.1507 10.528 12.9507 10.144C12.7587 9.76 12.4427 9.568 12.0027 9.568C11.5627 9.568 11.2427 9.76 11.0427 10.144C10.8507 10.528 10.7547 11.16 10.7547 12.04C10.7547 12.92 10.8507 13.552 11.0427 13.936C11.2427 14.32 11.5627 14.512 12.0027 14.512Z" fill="white"/>
    </svg>

  {% when 'basket' %}
    <svg  class="icon icon__basket" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M22 9h-4.79l-4.38-6.56a.993.993 0 0 0-.83-.42c-.32 0-.64.14-.83.43L6.79 9H2c-.55 0-1 .45-1 1 0 .09.01.18.04.27l2.54 9.27c.23.84 1 1.46 1.92 1.46h13c.92 0 1.69-.62 1.93-1.46l2.54-9.27L23 10c0-.55-.45-1-1-1zM12 4.8L14.8 9H9.2L12 4.8zM18.5 19l-12.99.01L3.31 11H20.7l-2.2 8zM12 13c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
    </svg>

  {% when 'cart' %}
    <svg class="icon icon__cart" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM17 18c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zM15.55 13c.75 0 1.41-.41 1.75-1.03l3.58-6.49A.996.996 0 0 0 20.01 4H5.21l-.94-2H1v2h2l3.6 7.59-1.35 2.44C4.52 15.37 5.48 17 7 17h12v-2H7l1.1-2h7.45zM6.16 6h12.15l-2.76 5H8.53L6.16 6z"/>
    </svg>

  {% when 'close' %}
    <svg class="icon icon__close"  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4 4L20 20M4 20L20 4" stroke="black"/>
    </svg>

  {% when 'email' %}
    <svg class="icon icon__email" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6zm-2 0l-8 5-8-5h16zm0 12H4V8l8 5 8-5v10z"/>
    </svg>

  {% when 'expand' %}
    <svg class="icon icon__expand" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M15 3l2.3 2.3-2.89 2.87 1.42 1.42L18.7 6.7 21 9V3h-6zM3 9l2.3-2.3 2.87 2.89 1.42-1.42L6.7 5.3 9 3H3v6zm6 12l-2.3-2.3 2.89-2.87-1.42-1.42L5.3 17.3 3 15v6h6zm12-6l-2.3 2.3-2.87-2.89-1.42 1.42 2.89 2.87L15 21h6v-6z"/>
    </svg>

  {% when 'error' %}
    <svg class="icon icon__error" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M11 15h2v2h-2v-2zm0-8h2v6h-2V7zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
    </svg>

  {% when 'globe' %}
    <svg class="icon icon__globe" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
      <path d="M30 18c0-3.2-1.1-5.9-3.3-8.3-2.2-2.3-4.9-3.6-8-3.7H18c-3.3 0-6.1 1.2-8.5 3.5C7.1 11.9 6 14.7 6 18s1.2 6.1 3.5 8.5c2.4 2.3 5.2 3.5 8.5 3.5H18.6c3.2-.2 5.8-1.4 8-3.7S30 21.2 30 18zm-2.2 3.8c-.8-.2-1.9-.4-3.3-.6.2-1.1.2-2.2.2-3.3 0-.9 0-1.8-.1-2.6 1.6-.2 2.7-.4 3.4-.6l-.3-.8c.6 1.3.8 2.6.8 4s-.2 2.7-.7 3.9zM12.7 18c0-.8 0-1.6.1-2.4 1.4.1 2.8.2 4.4.2V21c-1.5 0-3 0-4.3.1-.1-1-.2-2-.2-3.1zm6-10.4c.9.3 1.8 1 2.5 2.2.7 1.2 1.3 2.6 1.6 4.3-1.2.1-2.6.2-4.1.2V7.6zm-1.4 0v6.6c-1.5 0-2.9-.1-4.2-.2.4-1.7.9-3.1 1.7-4.3.7-1.1 1.5-1.8 2.5-2.1zm0 14.9v5.9c-.8-.3-1.6-.9-2.3-1.9-.7-1-1.3-2.3-1.6-3.8 1.1-.2 2.4-.2 3.9-.2zm1.4 5.9v-6c1.4 0 2.8 0 4 .1-.4 1.5-.9 2.8-1.6 3.9-.7 1.1-1.5 1.8-2.4 2zm0-7.4v-5.2c1.6 0 3.1-.1 4.4-.2.1.8.1 1.6.1 2.4 0 1.1-.1 2.1-.2 3.1-1.3-.1-2.7-.1-4.3-.1zm8.7-7.6c-.7.2-1.7.4-3 .6-.4-2.3-1.2-4.1-2.2-5.6 2.3 1 4.1 2.6 5.2 5zm-13-5.3c-1.3 1.5-2.2 3.4-2.8 5.8-1.3-.1-2.3-.3-3.1-.5 1.3-2.5 3.2-4.3 5.9-5.3zM8 14.9c.8.2 2 .4 3.4.6-.1.8-.2 1.7-.2 2.6 0 1.1.1 2.2.3 3.2-1.3.2-2.4.3-3.3.6-.5-1.2-.7-2.5-.7-3.8 0-1.2.1-2.2.5-3.2zm.9 8.3c.8-.2 1.8-.3 3-.4.6 2.1 1.4 3.8 2.6 5.2-2.5-1-4.4-2.6-5.6-4.8zm13.3 4.5c.9-1.3 1.6-2.9 2.1-4.9 1.2.1 2.1.3 2.9.5-1.2 2-2.9 3.4-5 4.4z" />
    </svg>

  {% when 'hamburger' %}
    <svg class="icon icon__hamburger" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
    </svg>

  {% when 'heart' %}
    <svg class="icon icon__heart" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"/>
    </svg>

  {% when 'lifestyle' %}
    <svg class="icon icon__lifestyle" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M14 6L9.78 11.63L11.03 13.3L14 9.33L19 16H10.54L6.53 10.63L1 18H23L14 6ZM5 16L6.52 13.97L8.04 16H5Z"/>
    </svg>

  {% when 'lock' %}
    <svg class="icon icon__lock" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M18 8H17V6C17 3.24 14.76 1 12 1C9.24 1 7 3.24 7 6V8H6C4.9 8 4 8.9 4 10V20C4 21.1 4.9 22 6 22H18C19.1 22 20 21.1 20 20V10C20 8.9 19.1 8 18 8ZM9 6C9 4.34 10.34 3 12 3C13.66 3 15 4.34 15 6V8H9V6ZM18 20H6V10H18V20ZM12 17C13.1 17 14 16.1 14 15C14 13.9 13.1 13 12 13C10.9 13 10 13.9 10 15C10 16.1 10.9 17 12 17Z"/>
    </svg>

  {% when 'minus' %}
    <svg class="icon icon__minus" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M19 13H5v-2h14v2z"/>
    </svg>

  {% when 'payment' %}
    <svg class="icon icon__payment" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M20 4H4C2.89 4 2.01 4.89 2.01 6L2 18C2 19.11 2.89 20 4 20H20C21.11 20 22 19.11 22 18V6C22 4.89 21.11 4 20 4ZM20 18H4V12H20V18ZM20 8H4V6H20V8Z"/>
    </svg>

  {% when 'phone' %}
    <svg class="icon icon__phone" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M6.54 5c.06.89.21 1.76.45 2.59l-1.2 1.2c-.41-1.2-.67-2.47-.76-3.79h1.51zm9.86 12.02c.85.24 1.72.39 2.6.45v1.49c-1.32-.09-2.59-.35-3.8-.75l1.2-1.19zM7.5 3H4c-.55 0-1 .45-1 1 0 9.39 7.61 17 17 17 .55 0 1-.45 1-1v-3.49c0-.55-.45-1-1-1-1.24 0-2.45-.2-3.57-.57-.1-.04-.21-.05-.31-.05-.26 0-.51.1-.71.29l-2.2 2.2c-2.83-1.45-5.15-3.76-6.59-6.59l2.2-2.2c.28-.28.36-.67.25-1.02C8.7 6.45 8.5 5.25 8.5 4c0-.55-.45-1-1-1z"/>
    </svg>

  {% when 'play' %}
    <svg class="icon icon__play" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20ZM10 16.5L16 12L10 7.5V16.5Z"/>
    </svg>

  {% when 'plus' %}
    <svg class="icon icon__plus" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
    </svg>

  {% when 'preview' %}
    <svg class="icon icon__preview" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 6.5c3.79 0 7.17 2.13 8.82 5.5-1.65 3.37-5.02 5.5-8.82 5.5-3.8 0-7.17-2.13-8.82-5.5C4.83 8.63 8.21 6.5 12 6.5zm0-2C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zm0 5c1.38 0 2.5 1.12 2.5 2.5s-1.12 2.5-2.5 2.5-2.5-1.12-2.5-2.5 1.12-2.5 2.5-2.5zm0-2c-2.48 0-4.5 2.02-4.5 4.5s2.02 4.5 4.5 4.5 4.5-2.02 4.5-4.5-2.02-4.5-4.5-4.5z"/>
    </svg>

  {% when 'pin' %}
    <svg class="icon icon__pin" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zM7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.88-2.88 7.19-5 9.88C9.92 16.21 7 11.85 7 9z"/>
      <path d="M12 11.5c1.3807 0 2.5-1.1193 2.5-2.5S13.3807 6.5 12 6.5 9.5 7.6193 9.5 9s1.1193 2.5 2.5 2.5z"/>
    </svg>

  {% when 'search' %}
    <svg class="icon icon__search" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M10.9688 17.9375C14.8175 17.9375 17.9375 14.8175 17.9375 10.9688C17.9375 7.12002 14.8175 4 10.9688 4C7.12002 4 4 7.12002 4 10.9688C4 14.8175 7.12002 17.9375 10.9688 17.9375ZM10.9688 18.9375C15.3698 18.9375 18.9375 15.3698 18.9375 10.9688C18.9375 6.56773 15.3698 3 10.9688 3C6.56773 3 3 6.56773 3 10.9688C3 15.3698 6.56773 18.9375 10.9688 18.9375Z"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M19.75 20.8125L15.75 16.8125L16.4571 16.1054L20.4571 20.1054L19.75 20.8125Z"/>
    </svg>

  {% when 'sort' %}
    <svg class="icon icon__sort" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M3 18h6v-2H3v2zM3 6v2h18V6H3zm0 7h12v-2H3v2z"/>
    </svg>

  {% when 'spin' %}
    <svg class="icon icon__spin" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 7C6.48 7 2 9.24 2 12C2 14.24 4.94 16.13 9 16.77V20L13 16L9 12V14.73C5.85 14.17 4 12.83 4 12C4 10.94 7.04 9 12 9C16.96 9 20 10.94 20 12C20 12.73 18.54 13.89 16 14.53V16.58C19.53 15.81 22 14.05 22 12C22 9.24 17.52 7 12 7Z"/>
    </svg>

  {% when 'star' %}
    <svg class="icon icon__star" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path fill="#FFD102" d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/>
    </svg>

  {% when 'star-filled' %}
    <svg class="icon icon__star icon__star--filled" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path fill="#FFD102" d="M14.81 8.62l7.19.62-5.45 4.73L18.18 21 12 17.27 5.82 21l1.64-7.03L2 9.24l7.19-.61L12 2l2.81 6.62z"/>
    </svg>

  {% when 'tag' %}
    <svg class="icon icon__tag" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M21.41 11.58L12.41 2.58C12.05 2.22 11.55 2 11 2H4C2.9 2 2 2.9 2 4V11C2 11.55 2.22 12.05 2.59 12.42L11.59 21.42C11.95 21.78 12.45 22 13 22C13.55 22 14.05 21.78 14.41 21.41L21.41 14.41C21.78 14.05 22 13.55 22 13C22 12.45 21.77 11.94 21.41 11.58ZM13 20.01L4 11V4H11V3.99L20 12.99L13 20.01Z"/>
      <path d="M6.5 8C7.32843 8 8 7.32843 8 6.5C8 5.67157 7.32843 5 6.5 5C5.67157 5 5 5.67157 5 6.5C5 7.32843 5.67157 8 6.5 8Z"/>
    </svg>

  {% when 'tick' %}
    <svg class="icon icon__tick" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 20.9998 7l-1.41-1.41-10.59 10.58z"/>
    </svg>

  {% when 'zoom-in' %}
    <svg class="icon icon__zoom-in" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14zm.5-7H9v2H7v1h2v2h1v-2h2V9h-2V7z"/>
    </svg>

  {% when 'zoom-out' %}
    <svg class="icon icon__zoom-out" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14zM7 9h5v1H7V9z"/>
    </svg>

  {% when 'boot' %}
    <svg class="{{ icon_class }} icon__boot" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 34">
      <path fill="{{ fill }}" d="M45.99 26.387v-.005-.003c-.05-.81-.326-1.441-.82-1.875-1-.876-2.614-.764-4.321-.645-.488.034-4.787.145-5.888.04-5.127-.575-9.193-3.76-12.084-9.466-2.189-4.322-2.84-8.538-2.846-8.58a.544.544 0 00-.647-.453s-.424.087-2.616.526c-.826.166-1.422.544-1.771 1.123-.087.143-.15.29-.199.433H7.853a2.54 2.54 0 00-.471-.656 2.335 2.335 0 00-1.563-.687H4.23v-.71a1.994 1.994 0 001.448-1.914V2.083A1.994 1.994 0 003.686.092c-.3 0-.544.244-.544.544v5.503h-.206a.544.544 0 00-.544.552c0 .046.06 4.651 0 7.848-.035 1.933-.213 2.466-.686 3.89-.292.874-.69 2.072-1.217 4.089-.83 3.171-.461 4.924.057 5.867a.542.542 0 00-.215.13.544.544 0 00-.16.385v4.023c0 .3.243.544.544.544h12.429c.3 0 .544-.244.544-.544v-1.075c.99.046 3.224.216 5.876.839 3.122.733 5.801 1.221 8.726 1.221 1.594 0 3.23-.147 5-.449 4.728-.807 9.928-3.006 11.637-3.728 1.11-.47 1.095-2.678 1.064-3.344zM4.23 1.364c.218.165.36.426.36.72v1.431a.901.901 0 01-.36.72V1.363zm10.46 7.207c.018.175 2.592 14.988 2.592 14.988a1.139 1.139 0 01-1.136 1.095H9.36c-.627 0-1.137-.51-1.137-1.137V9.265c0-.244-.016-.476-.046-.695h6.511zM1.54 22.793c.518-1.982.91-3.16 1.197-4.021.483-1.452.704-2.114.742-4.213.048-2.556.02-6.005.007-7.331H5.82c.004 0 .438.014.794.37.346.345.522.906.522 1.668v14.251c0 1.227.998 2.225 2.225 2.225h6.785c1.227 0 2.236-.998 2.225-2.225-.003-.375-2.555-14.826-2.56-14.843-.002-.006-.108-.666.122-1.07.176-.308.539-.508 1.05-.61 1.04-.21 1.683-.338 2.07-.417.253 1.318 1.032 4.742 2.84 8.322 1.337 2.645 2.961 4.818 4.828 6.459 2.352 2.068 5.089 3.318 8.143 3.626.72.072 5.105.052 6.06-.04 1.408-.134 2.869-.2 3.529.379.205.18.34.435.407.773-1.667.808-9.175 4.272-15.572 4.369-3.252.05-5.523-.432-7.934-.943-2.644-.56-5.378-1.14-9.685-1.14-3.06 0-7.612.008-9.755 0-.315-.255-1.438-1.513-.373-5.59zm42.962 5.936c-1.68.71-6.792 2.872-11.396 3.657-1.71.292-3.285.434-4.817.434-2.82 0-5.428-.477-8.477-1.193-3.705-.87-6.549-.885-6.668-.885h-.001a.544.544 0 00-.544.544v1.093H1.259V29.47c1.7.006 6.988 0 10.41 0 4.193 0 6.87.567 9.46 1.116 2.47.523 4.8 1.016 8.175.966 6.232-.094 13.24-3.151 15.589-4.263-.056.764-.224 1.37-.39 1.44z"/>
    </svg>

  {% when 'needle-and-thread' %}
    <svg class="{{ icon_class }} icon__needle-and-thread" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 35">
      <path fill="{{ fill }}" d="M33.23 6.4a3.456 3.456 0 001.054-2.503 3.456 3.456 0 00-1.063-2.5A3.454 3.454 0 0030.687.42c-.95.031-1.826.435-2.465 1.14l-.323.354-.324-.325A5.388 5.388 0 0023.739 0c-1.45 0-2.812.564-3.836 1.59a5.389 5.389 0 00-1.588 3.835 5.39 5.39 0 001.588 3.836l.69.69-1.39 1.53a292.927 292.927 0 00-5.77 6.542l-1.937-1.935a5.039 5.039 0 00-3.586-1.486 5.04 5.04 0 00-3.587 1.486 5.039 5.039 0 00-1.485 3.586 5.04 5.04 0 001.485 3.588l2.617 2.616A293.187 293.187 0 00.87 33.75a.783.783 0 001.118 1.08A293.27 293.27 0 009.6 28.538l2.452 2.451a.78.78 0 001.108 0 .784.784 0 000-1.108l-2.368-2.368a296.308 296.308 0 005.26-4.655l2.938 2.938a6.907 6.907 0 004.916 2.036 6.907 6.907 0 004.916-2.036 6.906 6.906 0 002.037-4.916 6.905 6.905 0 00-2.037-4.916l-2.673-2.673 5.46-5.312c.265.456.408.976.408 1.518a3 3 0 01-.884 2.135l-.252.252a.783.783 0 101.108 1.107l.252-.251a4.556 4.556 0 001.343-3.243 4.55 4.55 0 00-.831-2.632l.478-.465zM21.01 8.153a3.833 3.833 0 01-1.13-2.728c0-1.03.402-2 1.13-2.728a3.832 3.832 0 012.728-1.13c1.03 0 2 .401 2.728 1.13l.377.377-5.196 5.716-.637-.637zm-.65 4.382l7.592-8.351.756.755-1.59 1.645a.783.783 0 001.127 1.089l3.252-3.365a.783.783 0 00-1.127-1.09l-.573.594-.79-.789.373-.41a1.902 1.902 0 011.42-.628c.5 0 .97.19 1.331.54.376.363.584.851.585 1.375 0 .523-.205 1.012-.58 1.377l-9.61 9.35a291.497 291.497 0 01-6.426 6.065l-1.557-1.557a291.546 291.546 0 015.818-6.6zm-14.93 9.619a3.483 3.483 0 01-1.026-2.48c0-.936.364-1.816 1.026-2.478a3.482 3.482 0 012.479-1.027c.936 0 1.817.364 2.479 1.027l2.025 2.025a296.381 296.381 0 00-4.487 5.428L5.43 22.154zm.723 7.247a295.014 295.014 0 017.371-9.069l1.417 1.417A294.739 294.739 0 016.154 29.4zm21.56-12.33a5.35 5.35 0 011.577 3.809c0 1.439-.56 2.79-1.578 3.808a5.35 5.35 0 01-3.808 1.577 5.35 5.35 0 01-3.808-1.577l-2.887-2.886a293.35 293.35 0 006.41-6.051l1.405-1.367 2.688 2.688z"/>
    </svg>

  {% when 'shipping' %}
    <svg class="{{ icon_class }} icon__needle-and-thread" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41 41">
      <g clip-path="url(#clip0)">
        <path fill="{{ fill }}" d="M27.005 19.921a1.366 1.366 0 00-1.038-.478 1.33 1.33 0 00-1.002.438l-3.451 3.457a1.366 1.366 0 001.036 2.255h.684v5.467a2.05 2.05 0 002.05 2.05h1.366a2.05 2.05 0 002.05-2.05v-5.467h.684a1.367 1.367 0 001.002-2.295l-3.38-3.377zm2.379 4.305h-1.367a.683.683 0 00-.683.684v6.15a.683.683 0 01-.684.683h-1.366a.683.683 0 01-.684-.683v-6.15a.683.683 0 00-.683-.684l-1.401.039 3.417-3.417a.018.018 0 01.011-.004c.019 0 .051.014.06.004l3.384 3.378h-.004zM3.417 13.293a.683.683 0 00-.684.683v1.367a.683.683 0 001.367 0v-1.367a.683.683 0 00-.683-.683zM3.417 17.393a.683.683 0 00-.684.683v5.467a.683.683 0 101.367 0v-5.467a.683.683 0 00-.683-.683z"/>
        <path fill="{{ fill }}" d="M40.619 11.42l-.036-.045-.004-.005-.046-.059-.013-.015-6.1-7.501a2.05 2.05 0 00-1.579-.752H8.16a2.05 2.05 0 00-1.583.756L.482 11.292l-.012.015-.047.059-.004.005-.035.044A2.03 2.03 0 000 12.61v23.233a2.05 2.05 0 002.05 2.05h36.9A2.05 2.05 0 0041 35.843V12.61a2.029 2.029 0 00-.352-1.153l-.03-.038zM17.756 4.41h5.488l3.002 6.15H14.755l3-6.15zm-3.406 7.516h12.3v4.458l-2.226-.889a1.356 1.356 0 00-1.015 0L20.5 16.657l-2.91-1.162a1.356 1.356 0 00-1.014 0l-2.226.889v-4.458zM32.841 4.41a.679.679 0 01.522.252l4.783 5.885H27.76L24.765 4.41h8.076zm-25.207.256a.683.683 0 01.525-.256h8.076l-2.995 6.137H2.85l4.784-5.881zm32 31.177a.683.683 0 01-.684.683H2.05a.683.683 0 01-.683-.683V12.61a.664.664 0 01.113-.379l-.014-.01s.008-.005.012-.01l.013.009-.01-.01c.013-.014.031-.02.044-.034a.671.671 0 01.525-.25h10.933v4.458a1.366 1.366 0 001.875 1.268l2.225-.89 2.91 1.162a1.368 1.368 0 001.015 0l2.909-1.162 2.225.889a1.367 1.367 0 001.875-1.267v-4.458H38.95a.654.654 0 01.11.012c.025.005.048.01.073.017a.77.77 0 01.282.168c.034.03.065.062.095.097l.022.028a.667.667 0 01.101.362v23.233z"/>
        <path fill="{{ fill }}" d="M16.073 19.921c-.26-.304-.64-.479-1.04-.478a1.327 1.327 0 00-1.002.44l-3.455 3.455a1.367 1.367 0 001.04 2.255h.684v5.467a2.05 2.05 0 002.05 2.05h1.367a2.05 2.05 0 002.05-2.05v-5.467h.683a1.352 1.352 0 001.238-.791 1.374 1.374 0 00-.235-1.504l-3.38-3.377zm1.01 4.305a.683.683 0 00-.683.684v6.15a.683.683 0 01-.683.683H14.35a.683.683 0 01-.683-.683v-6.15a.683.683 0 00-.684-.684l-1.402.04 3.416-3.418a.018.018 0 01.012 0c.019 0 .05.016.06 0l3.386 3.378h-1.372z"/>
      </g>
      <defs>
        <clipPath id="clip0">
          <path d="M0 0h41v41H0z"/>
        </clipPath>
      </defs>
    </svg>

  {% when 'material' %}
    <svg class="{{ icon_class }} icon__material" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 38">
      <path fill="{{ fill }}" d="M31.657 11.822a.511.511 0 00.19-.57v-.064A8.97 8.97 0 0028.424 5.8c-.19-.127-.38-.19-.634-.064-2.218.761-3.993.761-5.388-.063-2.218-1.331-2.599-4.5-2.599-4.5 0-.254-.19-.444-.443-.507-2.155-.888-4.564-.888-6.783 0a.552.552 0 00-.38.507s-.38 3.106-2.599 4.5c-1.394.888-3.232.888-5.451.063-.19-.126-.38-.063-.57.064a8.97 8.97 0 00-3.423 5.388v.063c0 .19.063.444.19.57 1.901 1.902 2.979 4.755 2.979 7.797 0 3.043-1.078 5.895-2.98 7.797a.511.511 0 00-.19.57v.063a8.97 8.97 0 003.423 5.388c.19.127.38.19.571.127.38-.127 8.367-2.852 11.283 4.057.063.253.317.38.57.38.254 0 .507-.127.57-.444 2.98-6.845 10.966-4.183 11.283-4.056.19.126.38.063.57-.064a8.97 8.97 0 003.424-5.388v-.063c0-.19-.064-.444-.19-.57-3.93-3.93-3.93-11.663 0-15.593zm-3.74 20.347c-1.648-.444-8.557-2.029-11.917 3.74-2.028-3.423-5.324-4.247-7.986-4.247-1.775 0-3.297.38-3.93.57-1.268-1.078-2.219-2.535-2.6-4.183 1.966-2.092 3.107-5.135 3.107-8.43 0-3.297-1.141-6.34-3.106-8.495.38-1.648 1.33-3.106 2.599-4.183 2.472.824 4.563.76 6.211-.254 2.219-1.394 2.916-4.056 3.106-5.07a8.106 8.106 0 015.198 0c.19 1.014.887 3.676 3.106 5.07 1.648 1.014 3.74 1.078 6.212.254a7.501 7.501 0 012.599 4.183c-4.12 4.437-4.12 12.424 0 16.861a7.501 7.501 0 01-2.6 4.184z"/>
      <path fill="{{ fill }}" d="M16.825 31.345c-.254.253-.57.443-.824.697a8.027 8.027 0 00-.824-.698c-.317-.19-.698-.126-.888.127-.19.254-.127.698.127.888.444.253.76.57 1.141.95.127.127.254.19.444.19s.317-.063.443-.19l1.141-.95c.254-.19.317-.634.127-.888-.19-.253-.634-.317-.887-.127zM12.197 29.823c-.824-.317-1.775-.507-2.726-.57a.69.69 0 00-.697.57c-.064.38.253.634.57.697a10.06 10.06 0 012.472.508h.19c.254 0 .508-.19.571-.38.127-.381-.063-.698-.38-.825zM6.176 29.253c-.444.063-.888.127-1.268.19-.253-.317-.444-.57-.57-.888.253-.316.507-.697.76-1.077.127-.317.064-.697-.253-.888-.317-.126-.697-.063-.888.254-.253.444-.507.887-.824 1.268-.126.19-.126.444-.063.634.254.697.634 1.267 1.141 1.838.063.127.253.19.444.19h.126c.508-.127 1.015-.19 1.522-.254.38-.063.634-.38.57-.697-.063-.38-.317-.634-.697-.57zM6.429 15.054a.563.563 0 00-.76-.443.563.563 0 00-.444.76c.253.824.38 1.712.507 2.6.063.316.317.57.634.57 0 0 .063 0 .063.063.38-.063.634-.38.57-.697a22.694 22.694 0 00-.57-2.853zM6.366 20.696c-.38-.064-.634.253-.697.57-.064.95-.254 1.838-.507 2.662-.064.317.126.634.443.761h.19c.317 0 .57-.19.57-.444.254-.887.445-1.901.571-2.852a.69.69 0 00-.57-.697zM5.034 11.758c-.19-.38-.444-.76-.697-1.077.126-.317.317-.57.507-.824.443.063.887.126 1.268.19a.743.743 0 00.697-.57c0-.318-.254-.635-.634-.698-.444-.063-.95-.127-1.458-.254-.253-.063-.507 0-.634.19a6.339 6.339 0 00-1.077 1.775c-.127.19-.064.444.063.634.317.38.57.824.824 1.268.127.19.38.317.57.317.127 0 .254 0 .317-.063.317-.19.444-.57.254-.888zM11.817 7.13c-.697.571-1.458 1.078-2.345 1.332-.317.127-.507.507-.38.824.126.254.38.444.633.444h.127c1.014-.38 1.965-.888 2.79-1.648.253-.254.316-.634.063-.888-.254-.253-.634-.317-.888-.063zM17.585 3.074c-.063-.253-.253-.38-.507-.443a6.514 6.514 0 00-2.218 0c-.254.063-.444.19-.507.443-.127.507-.317.951-.508 1.395-.126.317 0 .697.317.824.064.063.19.063.254.063.253 0 .444-.127.444-.38.19-.38.38-.824.507-1.205.38-.063.697-.063 1.077 0 .19.444.317.824.507 1.205.127.317.508.443.824.317.317-.127.444-.507.317-.824-.19-.444-.38-.888-.507-1.395zM22.276 9.73c.253 0 .507-.19.57-.444.127-.38-.063-.697-.38-.824-.888-.253-1.648-.697-2.345-1.33a.679.679 0 00-.888.063.679.679 0 00.064.887c.824.76 1.774 1.331 2.789 1.648h.19zM25.889 10.047c.443 0 .824-.127 1.267-.19.19.253.38.507.508.824a6.282 6.282 0 00-.698 1.077c-.127.317-.063.697.254.888.127.063.19.063.317.063.19 0 .38-.127.507-.317.253-.444.507-.887.824-1.268.127-.19.127-.443.063-.634a6.337 6.337 0 00-1.077-1.774c-.19-.19-.38-.254-.634-.19-.507.126-.951.19-1.458.253-.38.063-.634.38-.57.697.063.38.316.634.697.57zM25.572 18.54h.063c.317 0 .57-.19.634-.57.063-.95.253-1.838.507-2.662.063-.317-.127-.698-.444-.761-.317-.063-.634.127-.76.444A20.65 20.65 0 0025 17.843c0 .317.253.634.57.697zM26.205 24.689h.127a.563.563 0 00.444-.76c-.254-.888-.38-1.776-.507-2.663-.064-.38-.317-.634-.698-.57-.38.063-.633.38-.57.697.127.95.317 1.901.57 2.852.127.254.38.444.634.444zM26.966 27.478c.19.38.444.76.697 1.077-.19.317-.38.634-.57.888-.444-.063-.824-.127-1.268-.19a.69.69 0 00-.697.57c0 .317.253.634.57.697.508.064 1.015.127 1.522.254h.127a.72.72 0 00.507-.19c.507-.57.887-1.141 1.14-1.838.127-.19.064-.444-.063-.634-.317-.38-.57-.824-.824-1.268-.19-.317-.57-.444-.887-.253-.317.19-.444.57-.254.887zM22.53 29.19a18.89 18.89 0 00-2.726.57c-.317.127-.507.507-.38.824.126.253.38.444.633.444.064 0 .127-.064.127-.064.76-.253 1.585-.443 2.472-.507.38-.063.634-.38.57-.697-.063-.38-.316-.57-.697-.57z"/>
    </svg>

  {% when 'info' %}
    <svg class="icon__info" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="9" cy="9" r="9" fill="#7F551C"/>
      <path d="M5.625 6.36986H7.34576C7.40434 5.47653 8.0121 4.90538 8.95669 4.90538C9.87931 4.90538 10.4944 5.45456 10.4944 6.21609C10.4944 6.941 10.1868 7.32909 9.27887 7.87827C8.26838 8.47138 7.84368 9.1304 7.90958 10.2288L7.91691 10.7267H9.6157V10.3093C9.6157 9.58438 9.88663 9.21094 10.8459 8.64712C11.8417 8.05401 12.3982 7.27051 12.3982 6.15018C12.3982 4.53194 11.0582 3.375 9.05188 3.375C6.87713 3.375 5.68358 4.63445 5.625 6.36986ZM8.84685 14.2195C9.59373 14.2195 10.0624 13.7581 10.0624 13.0552C10.0624 12.3449 9.59373 11.8836 8.84685 11.8836C8.11461 11.8836 7.63133 12.3449 7.63133 13.0552C7.63133 13.7581 8.11461 14.2195 8.84685 14.2195Z" fill="white"/>
    </svg>

  {% else %}
    <span>No icon found!</span>
{% endcase %}
