{% comment %}
------------------------------------------------------------------------------
  Snippet: Product gallery
------------------------------------------------------------------------------
{% endcomment %}
{% unless id %}
  {% assign id = 1 %}
{% endunless %}

<div class="product-gallery" js-product-gallery="container">
  <div
    id="ProductGalleryMain-{{ id }}"
    class="
      product-gallery__featured-carousel
      {% unless single_image %}swiper-container{% endunless %}
    "
    js-product-gallery="featuredCarousel"
  >
    {% if settings.enable_image_zoom and hide_zoom != true %}
      <div class="product-gallery__zoom-pane" js-product-gallery="zoomPane"></div>
    {% endif %}

    {% if single_image %}
      {% render 'responsive-image' with
        image_attributes: image_attributes,
        image: product.featured_image,
        max_height: 782,
        max_width: 784,
        wrapper_attributes: wrapper_attributes,
        wrapper_class: wrapper_class,
      %}

    {% else %}
      <ul class="swiper-wrapper">
        {% for image in product.images %}
          {% unless image.src contains '-swatch' %}
            {% capture image_attributes %}
              data-image-id="{{ image.id }}"

              {% if settings.enable_image_zoom and hide_zoom != true %}
                data-zoom="{{ image | img_url: 'original' }}"
              {% endif %}
            {% endcapture %}

            {% capture wrapper_class %}
              {% assign sanitized_alt = image.alt | downcase %}
              product-gallery__featured-image
              {% if sanitized_alt contains 'full' %}
                product-gallery__featured-image--full
              {% endif %}
            {% endcapture %}

            {% capture wrapper_attributes %}
              js-product-gallery="featuredImage"
            {% endcapture %}

            <li class="swiper-slide">
              <div
                class="swiper-lazy {{ wrapper_class }}"
                role="img"
                aria-label="{{ image.alt | escape }}"
                data-background="{{ image | img_url: '1440x' }}"
                {{ wrapper_attributes }}
              >
                <div class="swiper-lazy-preloader"></div>
              </div>
            </li>
          {% endunless %}  
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  {% unless single_image %}
    <div class="product-gallery__navigation">
      <div class="product-gallery__button-prev">
        {% render 'icon-direction', icon: 'chevron-left' %}
      </div>
      <div class="product-gallery__pagination"></div>
      <div class="product-gallery__button-next">
        {% render 'icon-direction', icon: 'chevron-right' %}
      </div>
    </div>
  {% endunless %}

  {% unless hide_thumbnail_nav %}
    {% if product.images.size > 1 %}
      {% assign image_counter = 0 %}

      <div
        id="ProductGalleryThumbnails-{{ id }}"
        class="swiper-container"
        js-carousel="container"
        js-product-gallery="thumbnailCarousel"
      >
        <ul class="swiper-wrapper product-gallery__thumbnail-carousel">
          {% comment %}
          ------------------------------------------------------------------------------
            Product images
          ------------------------------------------------------------------------------
          {% endcomment %}
          {% for image in product.images %}
            {% unless image.src contains '-swatch' %}
              {% unless image.attached_to_variant? %}
                <li
                  class="
                    product-gallery__thumbnail
                    swiper-slide
                    {% if image_counter == 0 %}is-active{% endif %}
                  "
                  data-id="{{ image_counter }}"
                  js-carousel="cell"
                  js-product-gallery="thumbnail"
                >
                  <a
                    href="{{ image.src | img_url: '480x480' }}"
                    data-thumbnail-id="{{ image.id }}"
                  >
                    <img
                      class="product-gallery__thumbnail-image"
                      alt="{{ image.alt | escape }}"
                      src="{{ image.src | img_url: '160x160' }}"
                    >
                  </a>
                </li>
              {% endunless %}
            {% endunless %}  

            {% comment %}
            ------------------------------------------------------------------------------
              Variant-based images
            ------------------------------------------------------------------------------
            {% endcomment %}
            {% for variant in image.variants %}
              {% if image.attached_to_variant? %}
                <li
                  class="
                    product-gallery__thumbnail
                    swiper-slide
                  "
                  data-id="{{ image_counter }}"
                  data-variant-id="{{ variant.id }}"
                  js-product-gallery="thumbnail"
                >
                  <a
                    href="{{ image.src | img_url: '480x480' }}"
                    data-thumbnail-id="{{ image.id }}"
                  >
                    <img
                      class="product-gallery__thumbnail-image"
                      alt="{{ image.alt | escape }}"
                      src="{{ image.src | img_url: '160x160' }}"
                    >
                  </a>
                </li>
              {% endif %}
            {% endfor %}

            {% assign image_counter = image_counter | plus: 1 %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endunless %}
</div>
