{% comment %}
----------------------------------------------------------------------------
  Snippet: Product price
  - Used on the product card and in the product form.
----------------------------------------------------------------------------
{% endcomment %}
<div class="product-price" js-recommended-products="productPrices">
  {% if request.page_type == 'product' %}
    <span
      class="product-form__sale-price"
      data-price="{{ current_variant.price }}"
      js-currency="price"
      js-product-form="price"
    >
      {{ current_variant.price | money }}
    </span>

    {% if product.compare_at_price_max > product.price %}
      {% if current_variant.compare_at_price > current_variant.price %}
        <span class="visually-hidden">
          {{ 'products.product.regular_price' | t }}
        </span>

        <s
          data-price="{{ current_variant.compare_at_price }}"
          js-currency="price"
          js-product-form="comparePrice"
        >
          {{ current_variant.compare_at_price | money }}
        </s>
      {% endif %}
    {% endif %}

  {% else %}
    {% if product.compare_at_price > product.price %}
      {% if product.price_varies %}
        {% assign sale_price = product.price | money %}

        {{ 'products.product.on_sale_from_html' | t }}

        <span
          data-price="{{ product.price }}"
          js-currency="price"
          js-product-form="price"
        >
          {{ product.price | money }}
        </span>

      {% else %}
        <span
          data-price="{{ product.price }}"
          js-currency="price"
          js-product-form="price"
        >
          {{ product.price | money }}
        </span>
      {% endif %}

    {% else %}
      {% if product.price_varies %}
        {% assign price = product.price | money %}

        {{ 'products.product.from_text_html' | t }}
        <span
          js-product-form="price"
          js-currency="price"
          data-price="{{ product.price }}"
        >
          {{ product.price | money }}
        </span>

      {% else %}
        <span
          js-product-form="price"
          js-currency="price"
          data-price="{{ product.price }}"
        >
          {{ product.price | money }}
        </span>
      {% endif %}
    {% endif %}

    {% if product.compare_at_price > product.price %}
      <span class="visually-hidden">
        {{ 'products.product.regular_price' | t }}
      </span>

      <s data-price="{{ product.compare_at_price }}" js-currency="price">
        {{ product.compare_at_price | money }}
      </s>
    {% endif %}

    {% unless product.available %}
      {{ 'products.product.sold_out' | t }}
    {% endunless %}
  {% endif %}
</div>
